.reservations-container {
    display: block;
    width: 900px;
    min-width: 800px;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding: 20px;
  }
  
  .reservations-container h2 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
    color: white;
  }
  
  .reservations-table {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 100%;
  }
  
  .reservations-table th,
  .reservations-table td {
    padding: 8px;
    text-align: center;
  }
  
  .reservations-table th {
    border-radius: 20px;
    background-color: #f2f2f2;
  }
  
  .reservations-table td button {
    display: inline-block; /* Change the display property */
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  /* Additional styles for specific buttons */
  .reservations-table .cancel-button {
    background-color: red;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }
  
  .reservations-table .cancel-button:hover {
    background-color: #ff6347;
  }
  
  .reservations-table .confirm-button {
    background-color: green;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }
  
  .reservations-table .confirm-button:hover {
    background-color: #32cd32;
  }
  
  

  .error {
    color: #ff6347;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .filters-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filters-container label {
    font-weight: bold;
  }
  
  .filters-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filters-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filters-container button:hover {
    background-color: #ddd;
  }
  .back-button {
  display: block;
  margin: 10px 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.back-button:hover {
  background-color: #0056b3;
}
